@model IEnumerable<Coffee_Shop.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Menu</h1>

@if (!string.IsNullOrEmpty((string) TempData["Bad-Product-ID-Passed"]))
{
<span class="text-danger">@TempData["Bad-Product-ID-Passed"]</span>
}

<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <strong>
                    @Html.ActionLink(@item.Name, "Details", new { id = item.ID })
                </strong>
                <p>@item.Description</p>
                <div>@item.Price.ToString("C")</div>
            </td>
        </tr>
}
    </tbody>
</table>
